<div class="col-xs-3" dnd-droppable (onDropSuccess)="dropSuccess($event)">
  <div class="panel panel-default">
    <div (click)="editListName(true)" class="panel-heading">
      <div *ngIf="!editingName; else editandoNome">
        <span [innerHtml]="list.name"></span>
      </div>
      <ng-template #editandoNome>
        <input #inputListName
          autofocus
          type="text"
          [(ngModel)]="list.name"
          (blur)="editListName(false)"
          (keyup.enter)="editListName(false)">
      </ng-template>
    </div>
    <div dnd-droppable class="panel-body list-body" (onDropSuccess)="dropSuccess($event)">
      <div *ngFor="let card of list.cards">
        <app-card dnd-draggable [dragEnabled]="true" (onDragSuccess)="dragSuccess($event)"[dragData]="card" [card]="card"></app-card>
      </div>
    </div>
  </div>
</div>
